<div class="page-header">
  <%= link_to greetings_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    All Greetings
  <% end %>
  <%= link_to edit_greeting_path(@greeting), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show greeting</h1>
</div>

<dl class="dl-horizontal">
  <dt>Message:</dt>
  <dd><%= @greeting.message %></dd>

</dl>
