<div id="experiment-demo" style="align:center">
  <h5> Demo Application </h5>

    <experiment>
      <template slot="header">hello</template>

      And here is the rest of the content
    </experiment>
</div>



<%= javascript_pack_tag 'experiment' %>
